*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #f4f4f4;
	line-height: 1.3em;

}


.bt0 {
	margin-top: 20px;
	background-color: #333;
	color:#fff;
	padding: 20px 20px;
	border: 0;
	text-align: center;
	border-radius: 15px;

}

.bt0:hover{
	background: black;
	color: #fff;

}

.fix-bt {
	position: fixed;
	top: 400px;
	border-radius: 0;
}

a {
	text-decoration: none;
}

.bt1 {
	margin: 30px 50px;
	background-color: #333;
	color:#fff;
	padding: 30px 40px;
	text-align: center;
	border-radius: 10px;
	font-size: 25px;

}

label span { color: red; }
.bt1:hover{
	background: black;
	color: #fff;

}
/*----------------------------WELCOME PAGE END------------------------------*/
/*submit button for the main page*/
.container{
	width: 80%;
	margin: auto;

}

.container li{
	margin-left: 20px;
}

.container h2{
	padding: 80px 0 0 0;
	text-align: center;
}


.main{
	margin: 0 0 100px 0;
}

.main h1{
	padding: 80px 0 80px 0;
	text-align: center;

}

.submit0 {
	padding-top: 50px;
	text-align: center;
}

.hd-box {
	width: 100%;
	height: 80px;
/*	border: 1px solid #000;*/
	background-color: #002B8C;
	margin-top: 0;
	margin-bottom: 30px;
	position: relative;

}
.hd-box img {
	position: absolute;
	width:120px;
	height:64px;

	top:10px;
	left: 20px;
}
.hd-box h3 {
	position: absolute;
	left: 200px;
	bottom: 10px;
	color: white;
}

#main-footer {
	background-color: #002B8C;
	color: #fff;
	margin-bottom: 0;
	font-size: 10px;
	text-align: right;
	padding-right: 10px;

}

.btnf {
	/* display: block;
	padding: 0px 20px;
	height: 40px;
	background-color: #666666;
	border-right: 1px solid black;
	border-bottom: 1px solid black; */
	text-align: center;
	line-height: 40px;
	padding: 2% 5% 2% 2%;
	flex-grow:1;
}
/*----------------------------Survey------------------------------*/
.submit1 {
	/*	text-align: center;*/
		border: 1px #ccc solid;
		border-radius: 15px;
		/* text-align: left; */
		padding: 2% 5% 2% 2%;
		margin-top: 50px;
		position:relative;
		margin-bottom: 10px;
	}
	
.submit1 label {
	left: 1%;
	display: block;
	margin-top: 10px;
}
.submit1 input[type="text"], input[type="number"],.submit1 select{
	padding: 1%;
	width: 100%;
	
}

.submit1 input[type="textarea"],.submit1 select{
	padding: 1%;
	width: 100%;

}


#fourSkill {
	margin: 0 20% 0 20%;
	display: flex;
	flex-direction: column;
}
/*----------------------------Display------------------------------*/
.submit2 {
	margin-top: 200px;
}

.submit2 label {
	left: 1%;
	display: block;
	margin-top: 40px;
	font-size: 40px;
	line-height: normal;
	text-align: center;
}

.submit3 label {
	left: 1%;
	display: block;
	margin-top: 200px;
	font-size: 25px;
	line-height: normal;
}

.submit4 label {
	/* left: 1%; */
	/* display: inline-block; */
	margin-top: 10px;
	font-size: 25px;
	line-height: normal;

}


/* 
.submit2 input[type="submit"]{
	margin-top: 200px;
	float: left;
	width: 33.3%;
	font-size: 40px;
} */

/* .q {
	position: absolute;
	font-size: 50px;
	display: block;
	margin-top: 10px;
} */
/*
.op {
	position: absolute;
	top: 100px;
	font-size: 50px; */

/*----------------------------ADMIN------------------------------*/	
.innerbtn {
	display: inline-block;
}

/*----------------------------Testing------------------------------*/	
#time1 {
	text-align: right;
}
/* #op1 {
	display:none;
}

#op2 {
	display:none;
}

#op3 {
	display:none;
} */


